/* 02. slider area css here */

.single_slider{
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover; 
        height: 520px;
        @media #{$desktop-device}{
           height: 470px;
        }
        @media #{$tablet-device}{
           height: 420px;
        }
        @media #{$large-mobile}{
           background-position: 10%;
            height: 350px;
        }

   
}

.slider_area{
    
    & .owl-dots{
            position: absolute;
            bottom: 20px;
            text-align: center;
            left: 50%;
            transform: translatex(-50%);
            display: block;
            @media #{$large-mobile}{
                 bottom: 10px;
            }
            & .owl-dot{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                display: inline-block;
                background: $primary_color;
                margin: 0 5px;
                @include transition(.3s);
                position: relative;
                &.active {
                    @include transition(.3s);
                    &::before{
                        position: absolute;
                        content:"";
                        background: $secondary_color;
                        width: 12px;
                        height: 12px;
                        left: -3px;
                        top: -3px;
                        border-radius: 50%;
                        
                    }
                    
                }
            }
        }
}


.slider_content{
    padding-left: 50px;
    @media #{$large-mobile}{
        padding-left: 20px;
    }
    & h1{
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        color: $primary_color;
        margin-bottom: 0;
        font-family: $Lato;
        width: 355px;
        @media #{$tablet-device}{
            font-size: 45px;
            line-height: 45px;
        }
        @media #{$large-mobile}{
            font-size: 20px;
            line-height: 27px;
            width: 220px;
            margin-bottom: 10px;
        }
    }
    & h2{
        color: $primary_color;
        margin-bottom: 10px;
        font-family: $Lato;
        font-weight: 400;
        font-style: italic;
        font-size: 24px;
        line-height: 24px;
        display: inline-block;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            height: 1px;
            width: 70px;
            background: $primary_color;
            right: -88px;
            opacity: 0.5;
            top: 50%;
            transform: translatey(-50%);
        }
        @media #{$large-mobile}{
            font-size: 17px;
            line-height: 20px;
        }
    }
   
    & a{
        font-size: 16px;
        font-weight: 400;
        margin-top: 45px;
        color: $primary_color;
        height: 48px;
        line-height: 47px;
        padding: 0 25px;
        display: inline-block;
        font-family: $Lato;
        border-radius: 5px;
        &:hover{
            color: $body-color;
            background:  #333;
        }
        @media #{$desktop-device}{
           margin-top: 25px;
        }
        @media #{$tablet-device}{
            margin-top: 20px;
            height: 43px;
            line-height: 43px;
            padding: 0 25px;
        }
        @media #{$large-mobile}{
            font-weight: 500;
            margin-top: 0;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
        }
    }
}




.active .slider_content h1,.active .slider_content h2,.active .slider_content a {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.active .slider_content h1{
     -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}


.active .slider_content a{
     -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}


/*home two css here*/
.slider_two{
    & .single_slider{
        @media #{$laptop-device}{
            height: 370px;
        }
    }
    & .slider_content{
        padding-left: 0;
        & h1{
            width: 454px;
            @media #{$large-mobile}{
                width: 100%;
            }
        }
    }
}



/*home three css here*/

.slider_three{
    & .single_slider{
        @media #{$desktop-device}{
            height: 436px;
        }
    }
    & .slider_content {
        & h1{
             @media #{$desktop-device}{
                font-size: 44px;
                line-height: 44px;
            }
        }
    }
}














