.twitter-typeahead {
    width: calc(100% - 75px);
}

.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    padding-right: 0 !important;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #000000;
    box-shadow: none;
}

.tt-hint {
    color: #ccc !important;
}

.tt-menu {
    width: 422px;
    margin-top: 10px;
    padding: 8px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.tt-suggestion:hover {
    /* color: #fff; */
    background-color: #ffd54c;
}

.tt-suggestion p {
    margin: 0;
}
